body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220313/pngtree-intelligent-factory-and-technological-innovation-concept-on-business-and-industrial-process-image_1056982.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}gi

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}